@{
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExampleMvcProject.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExampleMvcProject.MVC.styles.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">

                <!-- Lewa strona - logo -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Księgarnia</a>

                <!-- Górne menu: pole wyszukiwania + linki -->
                <div class="d-flex align-items-center w-100 justify-content-between">

                    <!-- Formularz wyszukiwania -->
                    <form class="d-flex" role="search" method="get" asp-controller="Home" asp-action="Search">
                        <input class="form-control me-2" name="searchingText" type="search" placeholder="Szukaj" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">Szukaj</button>
                    </form>

                    <!-- Linki po prawej: Kontakt, Nasze księgarnie, Konto, Koszyk -->
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item px-2">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact">Kontakt</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" asp-controller="Home" asp-action="Bookstores">Nasze księgarnie</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" asp-controller="Account" asp-action="Index">Konto</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" asp-controller="Basket" asp-action="Show">
                                Koszyk @ViewBag.variables["basketCount"]
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <!-- Dolne menu: Książki, Muzyka, Filmy itd -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark @(currentAction == "Books" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Books">Książki</a>
                        </li>
                        
                        <!-- Ebooki z dropdownem -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark @(currentAction == "Ebooks" ? "active" : "")" href="#" id="navbarDropdownMusic" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ebooki
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMusic">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Ebooks" asp-route-sorting="@TempData["sorting"]" asp-route-EbookType="History">Historia</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Ebooks" asp-route-sorting="@TempData["sorting"]" asp-route-EbookType="Travel">Podróże</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Ebooks" asp-route-sorting="@TempData["sorting"]" asp-route-EbookType="Action">Akcja</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Ebooks" asp-route-sorting="@TempData["sorting"]" asp-route-EbookType="Comedy">Komedia</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Ebooks" asp-route-sorting="@TempData["sorting"]" asp-route-EbookType="Horror">Horror</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Ebooks" asp-route-sorting="@TempData["sorting"]" asp-route-EbookType="All">Wszystkie ebooki</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark @(currentAction == "Audiobooks" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Audiobooks">Audiobooki</a>
                        </li>

                        <!-- Muzyka z dropdownem -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark @(currentAction == "Musics" ? "active" : "")" href="#" id="navbarDropdownMusic" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Muzyka
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMusic">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Musics" asp-route-sorting="@TempData["sorting"]" asp-route-MusicType="Rap">Rap</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Musics" asp-route-sorting="@TempData["sorting"]" asp-route-MusicType="Rock">Rock</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Musics" asp-route-sorting="@TempData["sorting"]" asp-route-MusicType="Grunge">Grunge</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Musics" asp-route-sorting="@TempData["sorting"]" asp-route-MusicType="Metal">Metal</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Musics" asp-route-sorting="@TempData["sorting"]" asp-route-MusicType="Hip-Hop">Hip-Hop</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Musics" asp-route-sorting="@TempData["sorting"]" asp-route-MusicType="Electronic">Electronic</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Musics" asp-route-sorting="@TempData["sorting"]" asp-route-MusicType="Alternative">Alternative</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Musics" asp-route-sorting="@TempData["sorting"]" asp-route-MusicType="All">Wszystkie utwory</a></li>
                            </ul>
                        </li>

                        <!-- Filmy z dropdownem -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark @(currentAction == "Films" ? "active" : "")" href="#" id="navbarDropdownFilm" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Filmy
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMusic">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Films" asp-route-sorting="@TempData["sorting"]" asp-route-FilmType="Romans">Romans</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Films" asp-route-sorting="@TempData["sorting"]" asp-route-FilmType="Dramat">Dramat</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Films" asp-route-sorting="@TempData["sorting"]" asp-route-FilmType="Horror">Horror</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Films" asp-route-sorting="@TempData["sorting"]" asp-route-FilmType="Akcja">Akcja</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Films" asp-route-sorting="@TempData["sorting"]" asp-route-FilmType="Sci-Fi">Sci-Fi</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Films" asp-route-sorting="@TempData["sorting"]" asp-route-FilmType="Thriller">Thriller</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Films" asp-route-sorting="@TempData["sorting"]" asp-route-FilmType="Komedia">Komedia</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Films" asp-route-sorting="@TempData["sorting"]" asp-route-FilmType="Wojenny">Wojenny</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Films" asp-route-sorting="@TempData["sorting"]" asp-route-FilmType="All">Wszystkie filmy</a></li>
                            </ul>
                        </li>
                        
                        <!-- Gry i zabawki z dropdownem -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark @(currentAction == "Games" ? "active" : "")" href="#" id="navbarDropdownFilm" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gry i zabawki
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMusic">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Games" asp-route-sorting="@TempData["sorting"]" asp-route-GameType="Puzzle">Puzzle</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Games" asp-route-sorting="@TempData["sorting"]" asp-route-GameType="Adventure">Przygodowe</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Games" asp-route-sorting="@TempData["sorting"]" asp-route-GameType="Simulation">Symulacja</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Games" asp-route-sorting="@TempData["sorting"]" asp-route-GameType="RPG">RPG</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Games" asp-route-sorting="@TempData["sorting"]" asp-route-GameType="Sports">Spotr</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Games" asp-route-sorting="@TempData["sorting"]" asp-route-GameType="Racing">Wyścigi</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Games" asp-route-sorting="@TempData["sorting"]" asp-route-GameType="Strategy">Strategia</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Games" asp-route-sorting="@TempData["sorting"]" asp-route-GameType="All">Wszystkie gry i zabawki</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

</body>
</html>
